.container{
    padding-top: 20px;
    width: 500px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -150px;
    z-index: -111;
}


.data-input{
    background: #000000;
    padding: 20px 2px;
    margin-top: 2px;
    margin-left: 100px;
    margin-right: 100px;
    
}

/*
.days,.hours, .minutes, .seconds, .milliseconds {
    padding: 30px;
}*/

#clockdiv {
 background-color: darkblue;
}

.main-container {
    margin: 0 300px;
}
